.App {
  text-align: center;
}

.W13 {
  background-color: black;
  color: white;
  font-size: 40px;
  padding: 20px;
  margin: 0px;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 2rem;
}

td {
  border: 1px solid black;
  padding: 1rem;
}

th {
  border: 1px solid black;
  padding: 1rem;
}